{% extends "layout.html" %}

{% block title %}Page 1: Name{% endblock %}

{% block content %}
  <h1>Page 1: What parts of the bike do you know?</h1>

 <form action={{ url_for("renderPage2") }} method="POST">
  <br>
  Parts that make the bike move:<br>
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert place on bike here" name="insert place on bike here"><br> <!-- cassette -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert place on bike here" name="insert place on bike here"><br> <!-- chain rings -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert place on bike here" name="insert place on bike here"><br> <!-- chain -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert place on bike here" name="insert place on bike here"><br> <!-- rear shifter -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert place on bike here" name="insert place on bike here"><br> <!-- front shifter -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert place on bike here" name="insert place on bike here"><br> <!-- pedals -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert place on bike here" name="insert place on bike here"><br> <!-- crank arms -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert place on bike here" name="insert place on bike here"> <!-- crankset -->
  <br>
  Parts of a wheel:<br>
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- rim -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- spokes -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- spoke nipples -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- hub -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- tube -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- tire -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"> <!-- valve system -->
  <br>
  Type of tires:<br>
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert kind here" name="insert kind here"><br> <!-- tubed -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert kind here" name="insert kind here"> <!-- tubeless -->
  <br>
  Types of valve systems:<br>
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert kind here" name="insert kind here"><br> <!-- shrader -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert kind here" name="insert kind here"> <!-- presta -->
  <br>
  Sizes of tires (not including e-bike tires):<br>
  <input type="text" placeholder="insert size as _in here" name="insert size as _in here"><br> <!-- 20 -->
  <input type="text" placeholder="insert size as _in here" name="insert size as _in here"><br> <!-- 24 -->
  <input type="text" placeholder="insert size as _in here" name="insert size as _in here"><br> <!-- 26 -->
  <input type="text" placeholder="insert size as _in here" name="insert size as _in here"><br> <!-- 27 -->
  <input type="text" placeholder="insert size as _in here" name="insert size as _in here"><br> <!-- 27.5 -->
  <input type="text" placeholder="insert size as _in here" name="insert size as _in here"> <!-- 29 -->
  <br>
  Kinds of bikes:<br>
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert kind here" name="insert kind here"><br> <!-- full suspension -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert kind here" name="insert kind here"> <!-- front suspention -->
  <br>
  Chain sizes:<br>
  <input type="text" placeholder="insert size as _in here" name="insert size as _in here"><br> <!-- 5 -->
  <input type="text" placeholder="insert size as _in here" name="insert size as _in here"><br> <!-- 6 -->
  <input type="text" placeholder="insert size as _in here" name="insert size as _in here"><br> <!-- 7 -->
  <input type="text" placeholder="insert size as _in here" name="insert size as _in here"><br> <!-- 8 -->
  <input type="text" placeholder="insert size as _in here" name="insert size as _in here"><br> <!-- 9 -->
  <input type="text" placeholder="insert size as _in here" name="insert size as _in here"><br> <!-- 10 -->
  <input type="text" placeholder="insert size as _in here" name="insert size as _in here"><br> <!-- 11 -->
  <input type="text" placeholder="insert size as _in here" name="insert size as _in here"><br> <!-- 12 -->
  <input type="text" placeholder="insert size as _in here" name="insert size as _in here"> <!-- 13 -->
  <br>
  Parts of frame:<br>
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- bottom tub/down tube -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- top tube/upper tube -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- seat tube -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- seat post -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- stem -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- head tube -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- front dropout -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- fork legs/blade -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- seat stays -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- headset -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- housing stop -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- rear dropout -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"><br> <!-- fork crown -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert where on wheel here" name="insert where on wheel here"> <!-- adjusting barrel -->
  <br>
  Types of brakes<br>
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert type here" name="insert type here"><br> <!-- u brakes -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert type here" name="insert type here"><br> <!-- rim brakes -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert type here" name="insert type here"><br> <!-- hydrolic disc brakes -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert type here" name="insert type here"> <!-- mechanical disc brake -->
  <br>
  Parts of Disc Brakes<br>
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert part name here" name="insert part name here"><br> <!-- rotor -->
  <input type="text" placeholder="insert name here" name="insert name here"><input type="text" placeholder="insert part name here" name="insert part name here"> <!-- brakes pads -->
  <br>


  <input type="submit" value="Submit">
 </form>


{% endblock %}
