{% extends "layout.html" %}

{% block title %}Page 2--Now we know everything!{% endblock %}

{% block content %}
  <h1>Now I know:</h1>

<ul>
 <li> Your first name is: {{ session['firstName'] }} </li>
 <li> Your last name is: {{ session['lastName'] }} </li>
 <li> Your favorite color is: {{ session['favoriteColor'] }} </li>
</ul>
<form action={{ url_for("renderAnswer") }} method="POST">
    <br>
    <p><strong><ins>Types of valve systems:</ins></strong></p><br>
    Rim:    <input type="text" placeholder="insert kind " name="shrader"><br><br>
    Rim:    <input type="text" placeholder="insert kind " name="presta"><br><br>
    <br>
    <p><strong><ins>Parts of Disc Brakes:</ins></strong></p><br>
    Rotor:    <input type="text" placeholder="insert what it is connected to" name="rotor"><br><br>
    Brake pads:    <input type="text" placeholder="insert what it is connected to" name="brakesPads"><br><br>
    <br>
    <p><strong><ins>Types of disc brakes:</ins></strong></p><br>
    Type of disc brake:    <input type="text" placeholder="insert type " name="hydrolicDisc"> disc brake<br><br>
    Type of disc brake:    <input type="text" placeholder="insert type " name="mechanicalDisc"> disc brake<br><br>
    <br>
    <p><strong><ins>Chain sizes:</ins></strong></p><br> (start at smallest and end largest)
    Start:    <input type="text" placeholder="insert size as _in " name="c5"><br><br>
    <input type="text" placeholder="insert size as _in " name="c6"><br><br>
    <input type="text" placeholder="insert size as _in " name="c7"><br><br>
    <input type="text" placeholder="insert size as _in " name="c8"><br><br>
    <input type="text" placeholder="insert size as _in " name="c9"><br><br>
    <input type="text" placeholder="insert size as _in " name="c10"><br><br>
    <input type="text" placeholder="insert size as _in " name="c11"><br><br>
    <input type="text" placeholder="insert size as _in " name="c12"><br><br>
    <input type="text" placeholder="insert size as _in " name="c13"><br><br>
    <br>
    <input type="submit" value="Submit">
</form>


{% endblock %}
