{% extends "layout.html" %}

{% block title %}Page 1: Name{% endblock %}

{% block content %}

  <h1>Page 1: What parts of the bike do you know?</h1>
  <label for="burger-toggle" class="burger-menu">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</label>

 <form action={{ url_for("renderPage2") }} method="POST">
  <br>
  <pre><p><strong><ins>Parts that make the bike move:</ins></strong></p><br>
  1. Cassette:    <input type="text" placeholder="insert what it is" name="cassette" size="25"><br><br>
  2. Chain rings:    <input type="text" placeholder="insert what it is " name="chainRings" size="25"><br><br>
  3. Chain:    <input type="text" placeholder="insert what it connects " name="chain" size="25"><br><br>
  4. Rear shifter:    <input type="text" placeholder="insert what it does " name="rearShifter" size="25"><br><br>
  5. Front shifter:    <input type="text" placeholder="insert what it does " name="frontShifter" size="25"><br><br>
  6. Pedals:    <input type="text" placeholder="insert what it connects to " name="pedals" size="25"><br><br>
  7. Crank arms:    <input type="text" placeholder="insert what it connects " name="crankArms" size="25"><br><br>
  8. Crankset:    <input type="text" placeholder="insert what it connects " name="crankset" size="25"><br><br>
  <br>
  <p><strong><ins>Parts of a wheel:</ins></strong></p><br>
  9. Rim:    <input type="text" placeholder="insert what it does " name="rim" size="25"><br><br>
  10. Spokes:    <input type="text" placeholder="insert what it connects " name="spokes" size="25"><br><br>
  11. Spoke nipples:    <input type="text" placeholder="insert what it connects " name="spokeNipples" size="25"><br><br>
  12. Hub:    <input type="text" placeholder="insert where on wheel " name="hub" size="25"><br><br>
  13. Tube:    <input type="text" placeholder="insert where on wheel " name="tube" size="25"><br><br>
  14. Tire:    <input type="text" placeholder="insert where on wheel " name="tire" size="25"><br><br>
  15. Valve system:    <input type="text" placeholder="insert where on wheel " name="valveSystem" size="25"><br><br>
  <br>
  <p><strong><ins>Type of tires:</ins></strong></p><br>
  16. <input type="text" placeholder="insert kind " name="tubed" size="25"><br><br>
  17. <input type="text" placeholder="insert kind " name="tubeless" size="25"><br><br>
  <br>
  <p><strong><ins>Sizes of tires (not including e-bike tires):</ins></strong>             also start with the smallest at the top  </p><br>
  18. Size:    <input type="text" placeholder="insert size as # " name="20" size="25">inch<br><br>
  19. Size:    <input type="text" placeholder="insert size as # " name="24" size="25">inch<br><br>
  20. Size:    <input type="text" placeholder="insert size as # " name="26" size="25">inch<br><br>
  21. Size:    <input type="text" placeholder="insert size as # " name="27" size="25">inch<br><br>
  22. Size:    <input type="text" placeholder="insert size as # " name="27.5" size="25">inch<br><br>
  23. Size:    <input type="text" placeholder="insert size as # " name="29" size="25">inch<br><br>
  <br>
  <p><strong><ins>Kinds of suspension for bikes:</ins></strong></p><br>
  24. Full suspension:    <input type="text" placeholder="insert kind " name="fullSuspension" size="25"><br><br>
  25. Front suspention:    <input type="text" placeholder="insert kind " name="frontSuspention" size="25"><br><br>
  <br>
  <p><strong><ins>Parts of frame:</ins></strong></p><br>
  26. bottom tube:    <input type="text" placeholder="insert where on wheel " name="bottomTube" size="25"><br><br>
  27. Top tube/upper tube:    <input type="text" placeholder="insert where on wheel " name="topTube" size="25"><br><br>
  28. Seat tube:    <input type="text" placeholder="insert where on wheel " name="seatTube" size="25"><br><br>
  29. Seat post:    <input type="text" placeholder="insert where on wheel " name="seatPost" size="25"><br><br>
  30. Stem:    <input type="text" placeholder="insert where on wheel " name="stem" size="25"><br><br>
  31. Head tube:    <input type="text" placeholder="insert where on wheel " name="headTube" size="25"><br><br>
  32. Front dropout:    <input type="text" placeholder="insert where on wheel " name="frontDropout" size="25"><br><br>
  33. Fork legs/fork blade:    <input type="text" placeholder="insert where on wheel " name="forkLegs" size="25"><br><br>
  34. Seat stays:    <input type="text" placeholder="insert where on wheel " name="seatStays" size="25"><br><br>
  35. Headset:    <input type="text" placeholder="insert where on wheel " name="headset" size="25"><br><br>
  36. Housing stop:    <input type="text" placeholder="insert where on wheel " name="housingStop" size="25"><br><br>
  37. Rear dropout:    <input type="text" placeholder="insert where on wheel " name="rearDropout" size="25"><br><br>
  38. Fork crown:    <input type="text" placeholder="insert where on wheel " name="forkCrown" size="25"><br><br>
  39. Adjusting barrel:    <input type="text" placeholder="insert where on wheel " name="adjustingBarrel" size="25"><br><br>
  40. Front brakes:    <input type="text" placeholder="insert which side of handle bars" name="frontBrakes" size="25"><br><br>
  41. Rear brakes:    <input type="text" placeholder="insert which side of handle bars" name="rearBrakes" size="25"><br><br>
  <br>
  <p><strong><ins>Types of brakes:</ins></strong></p><br>
  42. Type of brake:    <input type="text" placeholder="insert type " name="uBrakes"> brakes<br><br>
  43. Type of brake:    <input type="text" placeholder="insert type " name="rimBrakes"> brakes<br><br>
  44. Type of brake:    <input type="text" placeholder="insert type " name="discBrakes"> brakes<br><br>
  <br>
</pre>
  <input type="submit" value="Next">
 </form>


{% endblock %}
